html, body {
	position: relative;
	width: 100%;
	height: 100%;
	
}

body {
	background-color: #652e7a;
	background-image:url("./images/night-sky2.jpg");
	background-size: cover;
	color: #d6d6d6;
	margin: 0;
	padding: 4px;
	box-sizing: border-box;
	font-family: 'Courier New', Courier, monospace;
}
body::-webkit-scrollbar {
    width: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}
 
body::-webkit-scrollbar-track {
    background-color: #89daff;
    border-radius: 100px;
}
 
body::-webkit-scrollbar-thumb {
    background-color: #00268d;
    border-radius: 100px;
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

:root {
	--toastContainerTop: 8rem;
    --toastContainerRight: auto;
    --toastContainerBottom: auto;
    --toastContainerLeft: calc(50vw - 8rem);
}